#main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#top-bar {
    padding: 1.2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header {
    display: flex;
    flex-direction: column;
}

.header-project-name {
    font-size: 3rem;
    font-weight: 600;
}

.header-project {
    font-size: 1.4rem;
    color: var(--light-grey);
}

#add-todo-btn {
    all: unset;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
    gap: 0.2rem;
    color: var(--grey);
}

.filters-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    height: 2rem;
    border-top: 0.6px solid var(--grey);
    border-bottom: 0.6px solid var(--grey);
}

.filter {
    all: unset;
    cursor: pointer;
    border-right: 0.6px solid var(--grey);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}

.filter.active {
    background-color: var(--dark-grey);
    color: var(--off-white);
}

.filter:last-of-type {
    border-right: none;
}

.todo-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.todo,
.new-todo-div {
    display: flex;
    border-bottom: 0.6px solid var(--grey);
    align-items: center;
    padding: 0.8rem 2rem;
    height: 4rem;
    gap: 1rem;
}

.checkbox,
.fake-checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 1rem;
    height: 1rem;
    border: 0.6px solid var(--grey);
    border-radius: 50%;
}

.checkbox:checked {
    background-color: var(--light-grey);
}

.text-container,
.inputs-container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.date {
    font-size: 0.8rem;
    color: var(--grey);
    text-align: center;
}

.todo-title-input {
    font-size: 1rem;
    color: var(--dark-grey);
    border: none;
    height: 1.6rem;
}

.todo-title-input:focus {
    outline: none;
}

.due-to-container {
    display: flex;
    justify-content: center;
}

.todo-due-to-input {
    height: 1.6rem;
    width: 8rem;
    text-align: center;
    border: none;
    font-family: 'Inter', sans-serif;
    color: var(--grey);
    cursor: pointer;
}

.todo-due-to-input:focus {
    outline: none;
}

.submit-to-do-btn {
    all: unset;
    cursor: pointer;
    font-size: 0.6rem;
    border: 1px solid var(--grey);
    padding: 0.2rem 0.4rem;
    border-radius: 20px;
}
