*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --off-white: hsl(0, 0%, 96%);
    --light-grey: hsl(0, 0%, 74%);
    --grey: hsl(0, 0%, 50%);
    --dark-grey: hsl(0, 0%, 22%);
    --off-black: hsl(0, 0%, 4%);
}

body {
    height: 100vh;
    overscroll-behavior: none;
    display: flex;
}

#sidebar {
    width: 12rem;
    height: 100%;
    border-right: 0.6px solid var(--grey);
}