*, *::before, *::after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

:root {
    --off-black: hsl(0, 0%, 4%);
    --light-grey: hsl(0, 0%, 92%);
    --off-white: hsl(0, 0%, 96%);
}

body {
    color: var(--off-black);
    background-color: var(--off-white);

    display: flex;

    height: 100vh;
}

.sidebar {
    background-color: var(--light-grey);

    border-right: 0.4px solid var(--off-black);

    width: 200px;
}

